﻿@model IEnumerable<PolovniAutomobili_proba.Models.Automobil>
@{
    ViewData["Title"] = "Moji oglasi";
}

<div>
    @Html.ActionLink("Dodaj oglas", "Create", "Automobili")
</div>

<br />

@if (Model.Count() > 0)
{
    <div>
        <table class="table table-bordered">
            <tr class="table-success">
                <th>
                    Marka
                </th>
                <th>
                    Model
                </th>
                <th>
                    Godiste
                </th>
                <th>
                    Lokacija
                </th>
                <th>
                    Cena (€)
                </th>
                <th>

                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Marka
                    </td>
                    <td>
                        @item.Model
                    </td>
                    <td>
                        @item.Godiste
                    </td>
                    <td>
                        @item.Lokacija
                    </td>
                    <td>
                        @item.Cena
                    </td>
                    <td>
                        @Html.ActionLink("Obriši", "Delete", new { id = item.Id }) | @Html.ActionLink("Izmeni", "Edit", new { id = item.Id }) | @Html.ActionLink("Detaljnije", "Details", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
    </div>
}

<div>
    <a asp-controller="Automobili" asp-action="Index">Vrati se nazad</a>
</div>