﻿@{
    ViewData["Title"] = "Početna";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli na sajt PolovniAutomobili!</h1>
</div>

<br />

@if (!User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h4>@Html.ActionLink("Niste korisnik? Registrujte se ovde", "Register", "Account")</h4>
    </div>
}
else
{
    <div class="text-center">
        <h4>Dobrodošli nazad, @User.Identity.Name!</h4>
    </div>
}

<br />

<div class="text-center">
    @*<h4>@Html.ActionLink("Pogledajte aktivne oglase ", "Index", "Automobili").</h4>*@
    <h4>
        <a href="Automobili#oglasi">Pogledajte aktivne oglase</a>
    </h4>
</div>

<br />


